.LandingPage{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 10%;
    padding-top: 100px;
    box-sizing: border-box;
}

.LandingPage .background svg {
    position: absolute;
    display: inline-block;
    height: 100vh;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.345);
    z-index: 1;
}
/* .LandingPage .background svg:nth-child(2) {
    position: absolute;
    display: inline-block;
    height: 100vh;
    top: 0;
    right: 0;
}
.LandingPage .background svg:nth-child(3) {
    position: absolute;
    display: inline-block;
    height: 100vh;
    top: 50%;
    left: 0;
}
.LandingPage .background svg:nth-child(4) {
    position: absolute;
    display: inline-block;
    height: 100vh;
    top: 50%;
    right: 0;
} */

.LandingPage .content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.LandingPage .content button{
    transition: all 300ms;
}
.LandingPage .content button:hover{
    background-color: #17B169 !important ;
    color: white !important;
    border-color: white;
    transform: scale(1.1);
}
.LandingPage .content>div{
    width: 50%;
}
.LandingPage .content>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10vh;
    position: relative;
    z-index: 3;
}
.LandingPage .content h1{
    font-size: clamp(40px,15vw,75px);
    line-height: clamp(40px,15vw,110px);
}
.LandingPage .content h1 span{
    color:#17B169;
}
.LandingPage .content h1~p{
    font-size: clamp(20px,7vw,22px);
    /* background: initial;
    background-clip: text; */
    /* color: transparent;
    filter: invert(1) grayscale(1); */
    /* position: relative;
    z-index: 4; */
}
.LandingPage .content .imageContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.LandingPage .content .imageBack{
    position: absolute;
    width: max(400%,200vh);
    height: clamp(0px,31vw,295px);
    background-color: green;
    z-index: 2;
    flex-shrink: 0;
    /* border-radius: 50% 0 0 50%; */
    /* transform: translate(24%,100%) rotate(-45deg); */
    transform: translate(-25%,100%) rotate(-45deg);
}
#sw-js-blob-svg{
    position: absolute;
    width: clamp(0px,31vw,295px) !important;
    /* background: linear-gradient(); */
    z-index: 3;
    transform: scale(2);
    /* mask-image: url("/public/images/Gaurav.png"); */
}
.LandingPage .content .imageContainer img:nth-child(2){
    width: clamp(0px,31vw,295px);
    position: relative;
    z-index: 3;
    background-size: cover;
    border-radius: 0% 0% 30% 30%;
    /* mask-image: url("/public/images/LandingImage.svg");
    mask-repeat: no-repeat;
    mask-position: -147px;
    mask-size: 201%; */
}